.wrapper {
	height: 100%;
	width: 100%;
	background-color: ##656565;
}

.top {
	border-radius: 8px 8px  0 0;
}

.app_container {
	background: transparent;
}

.bottom {
	border-radius: 0 0 8px 8px;
}


.table {
	width: 100%;
	text-align: left;
	height: 100%;
}

.table_cell {
	vertical-align: middle;
	padding-left:10px;
	width: 50%;
	height: 100%;
	position: relative;
}

.table_text {
	position:absolute;
	top: 30%;
	left: 20%;
	font-weight: bold;
	z-index:30;

}

.pyramid_box {
	position: relative;
	height: 346px;
	background:white;
}

.container {
	position: relative;
	height: auto;
}

.light {
	background-color: #D8DEE9;
	box-shadow: rgba(255, 255, 255, 0.65098) 0px 0px 1px 1px inset
}

.panel {
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	width: 600px;
	text-align: center;
	margin: 10px 10px;
}

body {
	height: 100%;
	width: 100%;
	background-color: #6699CC;
	font-family: 'Prompt', sans-serif;
}

.btn {
	font-size: 18px;
	width: 80%;
	height: 80%;
	padding: 10px 10px;
	margin-left: auto;
	margin-right: auto;
}

.center_container {
	margin-left: 30%;
}

.mask_right {
  width: 0; 
  height: 0; 
  border-top: 0px solid transparent;
  border-bottom: 346px solid transparent;
  border-right: 207px solid #D8DEE9;
  position: absolute;
  z-index:10;
  left:394px;
}

.mask_left {
  width: 0; 
  height: 0; 
  border-top: 0px solid transparent;
  border-bottom: 346px solid transparent;
  border-left: 207px solid #D8DEE9;
  position: absolute;
  z-index:10;
  left:186px;
}

.trapezoid {
	width: 415px;
	position: absolute;
	left: 60%;
	top: 0px;
}
h1 {
	font-size:22px;
}
h2 {
	margin: 2px 2px;
	font-size:18px;
}
h3 {
	margin: 2px 2px;
	font-size:18px;
}
#plaid-link-button {
	font-size: 14px;
	padding: 10px 10px;
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Prompt', sans-serif;
}

.remove_button {
	font-size: 14px;
	padding: 10px 10px;
	width: 80%;
	height: 80%;
	z-index: 400;
	margin-left: auto;
	margin-right: auto;
	margin: 10px;
	font-family: 'Prompt', sans-serif;
}

#root {
	height: 346px;
	width:600px;
	}